.selected {
  background-color: #f7ff00;
}
.border-sharp{
  border-radius: 0 !important;
}
.bottom-buffer{
  margin-bottom: 20px;
}
.bottom-buffer-sm{
  margin-bottom: 10px;
}
.fullwidth{
  width: 100%;
}
.page-preview{
  height: 700px;
  overflow: scroll;
  text-align:center;
}
.page-preview::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    display: none;
}
