<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kiwi Reader - файлове и книги, прочетени заедно</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/bootstrap-themes/paper.css">
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse border-sharp" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Kiwi Reader</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="page-preview">
        <%- content %>
      </div>
    </div>
  </body>
</html>
