<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kiwi Reader</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/bootstrap-themes/paper.css">


    <style>
        body { padding-top:80px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Kiwi Reader</h1>
        <p>Влез или се регистрирай:</p>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Вход</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Регистрация</a>
      </div>

    </div>
  </body>
</html>
