<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kiwi Reader</title>

    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/bower_components/toastr/toastr.css">
    <link rel="stylesheet" href="/style/bootstrap-themes/paper.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/animate.css">

    <!-- Bower components -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>      
    <script src="/bower_components/angular-jwt/dist/angular-jwt.js"></script>      
    <script src="/bower_components/ng-ckeditor/libs/ckeditor/ckeditor.js"></script>
    <script src="/scripts/dropboxChooser.js"></script>
    <script src="/bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="/bower_components/angular-socket-io/socket.js"></script>
    <script src="/bower_components/ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/ngUpload/ng-upload.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/scripts/jquery.selection.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/toastr/toastr.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <!-- Angular app files -->
    <script src="/app/app.js"></script>
    <script src="/app/directives/text_select.js"></script>
    <script src="/app/directives/link_location.js"></script>
    <script src="/app/directives/preview_box.js"></script>

    <script src="/app/controllers/books.js"></script>
    <script src="/app/controllers/book.js"></script>
    <script src="/app/controllers/files.js"></script>
    <script src="/app/controllers/file.js"></script>
    <script src="/app/controllers/settings.js"></script>
    <script src="/app/controllers/profile.js"></script>
    <script src="/app/controllers/bookmarks.js"></script>
    <script src="/app/controllers/friends.js"></script>
    <script src="/app/controllers/page.js"></script>
    <script src="/app/controllers/pages.js"></script>
    <script src="/app/controllers/home.js"></script>
    <script src="/app/controllers/index.js"></script>
    <script src="/app/controllers/login.js"></script>
    <script src="/app/controllers/signup.js"></script>
    <script src="/app/controllers/app.js"></script>
      
      

    <script src="/app/factories/bookmark.js"></script>
    <script src="/app/factories/friend.js"></script>
    <script src="/app/factories/file.js"></script>
    <script src="/app/factories/book.js"></script>
    <script src="/app/factories/user.js"></script>
    <script src="/app/factories/page.js"></script>
    <script src="/app/factories/search.js"></script>

  </head>
  <body ng-app="kiwiReader">
    <div ui-view=""></div>
    <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    </script>
  </body>
</html>
