<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Вход в Kiwi Reader</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- SEO -->
    <meta name="author" content="Dimitar Mirchev">
    <meta name="description" content="">
    <link rel="canonical" href="">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="kiwi-reader.herokuapp.com">
    <meta name="twitter:creator" content="Dimitar Mirchev">
    <meta name="twitter:title" content="Kiwi Reader">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">

    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="">
    <meta property="fb:app_id" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="Productivity">
    <meta property="og:title" content="Kiwi Reader">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="Kiwi Reader">
    <meta property="article:author" content="Dimtiar Mirchev">
    <meta property="article:publisher" content="Dimtiar Mirchev">

    <!-- Social: Google+ / Schema.org  -->
    <link rel="author" href="Dimitar Mirchev">
    <link rel="publisher" href="Dimitar Mirchev">
    <meta itemprop="name" content="Kiwi Reader">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/bootstrap-themes/paper.css">

    <style>
        body { padding-top:80px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign"></span>Вход</h1>

        <!-- show any messages tha come back with authentication -->
        <% if(message.length > 0) {%>
            <div class="alert alert-danger">
              <%= message %>
            </div>
        <% } %>
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="password">Парола</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">
            Влез
          </button>
        </form>

        <hr>

        <p>
          Нямаш профил? <a href="/signup">Регстрирай се!</a>
        </p>
        <p>
          Или се върни в <a href="/">начало</a>.
        </p>

      </div>
    </div>
  </body>
</html>
