<nav class="navbar navbar-inverse border-sharp" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Цитати</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div ng-hide="user.bookmarks.length" class="alert alert-info col-sm-offset-3 col-sm-6">
    <p class="text-center">
      Все още нямате запазени цитати. Може да добавите такива, като селектирате текст от книга или файл и изберете
      <a class="btn btn-success btn-sm">Добави към цитати</a>.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="bookmark in user.bookmarks">
      <div class="well">
        <div class="dropdown">
          <a class="dropdown-toggle pull-right" data-toggle="dropdown"><span class="caret muted"></span></a>
          <ul class="dropdown-menu pull-right">
            <li><a tabindex="-1" ng-click="deleteBookmark($index)">Изтрий</a></li>
          </ul>
        </div>
        <div>
          {{bookmark.content}}
        </div>
      </div>
    </div>
  </div>

</div>
