<div class="row">
  <div class="col-md-3" style="position: relative; height: 100% overflow: hidden;">
    <div class="hidden-sm hidden-xs" style="position: fixed; width: inherit;">
      <h3>Анотации</h3>
      <div class="well well-sm text-center" ng-hide="file.anotations.length">
        <p>
          Към този текст няма създадени анотации. Може да създадете такава, като селектирате избран от вас текст.
        </p>
      </div>
      <accordion close-others="true">
        <accordion-group ng-repeat="anotation in file.anotations" heading="{{anotation.user}} {{anotation.title}}" ng-click="selectAnotation(anotation, $index)">
          <div class="well well-sm text-center">
            <h4>{{anotation.user}}</h4>
            <p>
              {{anotation.title}}
            </p>
          </div>
          <hr>
          <div ng-repeat="comment in file.anotations[$index].comments" class="well well-sm">
            <h5>{{comment.user}}</h5>
            <p>
              {{comment.content}}
            </p>
          </div>
          <div class="btn-group btn-group-sm bottom-buffer-sm">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#commentBox{{$index}}">Напиши коментар</button>
            <button type="button" class="btn btn-danger">Затвори анотацията</button>
          </div>
          <div id="commentBox{{$index}}" class="collapse well well-sm">
            <form ng-submit="addComment($index, comment)">
              <div class="form-group">
                  <textarea class="form-control" ng-model="comment" rows="4" placeholder="Напиши твоят коментар тук..."></textarea>
              </div>
              <button type="submit" class="btn btn-success">
                Коментирай
              </button>
            </form>
          </div>
        </accordion-group>
      </accordion>

      <div ng-show="selectedText" class="panel panel-default">
        <div class="panel-body text-center">
          {{selectedText}}
        </div>
        <div class="panel-footer" ng-hide="anotationBox">
          <a class="btn btn-primary" ng-click="anotationBox = true">Създай анотация</a>
          <a class="btn btn-danger" ng-click="cancelAnotation()">Отказ</a>
        </div>
        <div class="panel-footer" ng-show="anotationBox">
          <form ng-submit="addAnotation()">
            <div class="form-group">
              <textarea class="form-control" ng-model="anotation" placeholder="Съдържание..." rows="5" ></textarea>
            </div>
            <button type="submit" class="btn btn-default">Създай</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-8">
    <input type="text" class="form-control" ng-model="file.title"  style="padding: 10px; border: solid 1px #cdcdcd; border-radius: 0;">
    <div style="border: solid 1px #cdcdcd; margin-top: 20px;">
      <div class="border-sharp btn-group">
        <a class="btn btn-primary border-sharp" ng-click="toggleEditMode()">Промени</a>
        <a class="btn btn-warning border-sharp">Махни highliting</a>
      </div>
      <div ng-show="editMode" style="margin-top: 10px">
        <textarea
          ui-tinymce="editModeOptions"
          ng-model="file.content"
          class="form-control">
        </textarea>
      </div>
      <div id="previewBox" preview-box text-select ng-hide="editMode" style="padding: 10px; height: 500px; overflow: auto" content="file.content">
      </div>
    </div>
  </div>
</div>
