<nav class="navbar navbar-inverse border-sharp" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Приятели</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#newFriendModal">Добави</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="friend in user.friends">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive img-rounded fullwidth" src="https://denislavapetrovaunwe.files.wordpress.com/2014/11/396911_251388774932399_562645727_n.jpg" alt="Профилна снимка" />
            </div>
            <div class="col-xs-8">
              <h6 ng-show="!renameFriendCollapse[$index]">
                {{ friend.data.name | limitTo: 25 }}{{friend.data.name.length > 25 ? '...' : ''}}
              </h6>
              <div ng-show="renameFriendCollapse[$index]">
                <form ng-submit="renameFriend($index, friend.name); renameFriendCollapse[$index] = false;">
                  <div class="input-group">
                    <input type="text" required class="form-control" ng-model="friend.name">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-success btn-sm">
                        Запази
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="bottom-buffer">
                {{friend.data.email}}
              </div>
            </div>
          </div>
          <div class="btn-group btn-group-sm pull-right">
            <a class="btn btn-warning" ng-click="renameFriendCollapse[$index] = !renameFriendCollapse[$index]">Преименувай</a>
            <a ng-click="removeFriend($index)" class="btn btn-danger">Изтрий</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newFriendModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Добави нов приятел</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="addFriend(newFriendEmail); newFriendEmail = '';">
          <div class="form-group">
            <label for="newFriendEmail">Email на потребител</label>
            <input type="email" required class="form-control" id="newFriendEmail" ng-model="newFriendEmail" placeholder="Въведете email...">
          </div>
          <button type="submit" class="btn btn-success">Добави</button>
        </form>
      </div>
    </div>
  </div>
</div>
