<div class="container-fluid" style="margin-top:10px;">
  <div class="well well-sm">
    <h4>Здравей, {{user.data.name}}!</h4>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <!-- Last Files -->
      <div ng-show="user.lastFiles.length" class="panel panel-primary">
        <div class="panel-heading">
        Последни файлове
        </div>
        <div class="list-group">
          <a class="list-group-item" ng-repeat="file in user.lastFiles" ui-sref="file({file_id : file._id})">{{file.title}}</a>
          <a class="list-group-item" ui-sref="files()">Всички файлове...</a>
        </div>
      </div>
    </div>
  </div>
</div>
