<div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign"></span> Регистрация</h1>
        <!-- SIGNUP FORM -->
        <form ng-submit="signup(user)">
          <div class="form-group">
            <label for="name">Име</label>
            <input type="text" ng-model="user.name" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="user.email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="password">Парола</label>
            <input type="password" ng-model="user.password" class="form-control" id="password">
          </div>

          <button type="submit" class="btn btn-success btn-lg">
            Регистрация
          </button>
        </form>

        <hr>

        <p>
          Вече имаш акаунт? <a ui-sref="login">Вход</a>
        </p>
        <p>
          Или се върни в <a ui-sref="index">начало</a>.
        </p>

      </div>
    </div>