<nav class="navbar navbar-inverse border-sharp" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{book.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="sidePanel = 'content'">Съдържание</a></li>
        <li><a ng-click="sidePanel = 'chat'">Чат</a></li>
        <li><a data-toggle="modal" data-target="#shareModal">Споделяне</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">

  <div class="row">
    <!-- Content -->
    <div id="contentBox" ng-show="sidePanel === 'content'" class="well well-sm text-center col-sm-4" style="margin-top: 10px; overflow:auto">
      <button ng-click="sidePanel = 'none'" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="toc" preview-box content="toc"></div>
    </div>
    
    <!-- Chat-->
    <div id="chatBox" ng-show="sidePanel === 'chat'" class="col-sm-4 well well-sm">
      <button ng-click="sidePanel = 'none'" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="text-center">Чат</h3>
      <div>
        <div class="alert alert-warning text-center">Този чат не се запазва. Ако няма други онлайн, значи си пишеш сам.</div>
      </div>
      <div class="chat-box fullheight" style="overflow:hidden;">
        <div id="chatBox" style="height:65%; overflow-y:auto;">
          <div class="well well-sm" ng-repeat="message in chat">
            <p>
              <b>{{message.user}}</b> : {{message.content}}
            </p>
          </div>
        </div>
        <div class="input-group fullwidth">
          <form ng-submit="addChatMessage(chatMessage)">
            <input type="text" class="form-control" required ng-model="chatMessage" placeholder="Въведи съобщение">
          </form>
        </div>
      </div>
    </div>
    
    <!-- Content-->
    <div id="contentWrapper" style="padding-top: 10px;" ng-class="sidePanel !== 'none' ? 'col-sm-8': 'col-sm-offset-2 col-sm-8'">
      <div id="prevPageBtn" class="fullheight" ng-click="previousPage()"></div>
      <div id="nextPageBtn" class="fullheight" ng-click="nextPage()"></div>
      <div id="page-preview" class="page-preview shadow" preview-box text-select content="page"></div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Сподели книгата с...</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item active">Тази книга е достъпна от:</li>
          <li class="list-group-item" ng-repeat="user in book.users">{{user.user.data.name}}</li>
        </ul>
        <form ng-submit="shareBook(userToShare)" class="bottom-buffer">
          <div class="form-group" style="margin-top: 10px">
            <input class="form-control" type="email" ng-model="userToShare" placeholder="Въведи email"
             typeahead="friend.data.email as friend.data.name for friend in user.friends | filter : $viewValue" typeahead-loading="loadingLocations"
             typeahead-template-url="/particials/friendsTypehead.html">
             <p class="help-block">
               Ако търсиш някой от приятелите си, може да търсиш и по име.
             </p>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          </div>
          <button class="btn btn-primary" type="submit">Сподели</button>
        </form>
        <div class="alert alert-info">
          <p>
            Когато <b>споделите файл</b> с някого, той ще може не само да го преглежда, но и да го редактира и коментира.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectionModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="well well-sm">
          {{selectedText}}
        </div>
        <div class="btn-group btn-group-sm">
          <button type="button" ng-click="addBookmark();" class="btn btn-success">
            Запази в цитати.
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
