<nav class="navbar navbar-inverse border-sharp" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{collection.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
       <li class="dropdown"><a data-toggle="dropdown" aria-expanded="false">Добави <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="addFileModal()">Файл</a></li>
            <li><a ng-click="addBookModal()">Книга</a></li>
            <li><a ng-click="addPageModal()">Статия</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!-- Books -->
      <div ng-hide="collection.books.length" class="alert alert-info">
        Нямате добавени книги. <br>
        <a ng-click="addBookModal()" class="btn btn-primary btn-sm">Добави книга.</a>
      </div>
      <div ng-show="collection.books.length" class="panel panel-primary">
        <div class="panel-heading" style="color: white;">Книги</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="book in collection.books" >
            <h5 class="text-center">{{book.title}}</h5>
            <a ui-sref="app.book({id : book._id})" class="btn btn-sm btn-primary">Отвори</a>
            <a ng-click="remove('book', book._id)" class="btn btn-sm btn-danger pull-right">Премахни</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Files -->
      <div ng-hide="collection.files.length" class="alert alert-info">
        Нямате добавени файлове. <br>
        <a ng-click="addFileModal()" class="btn btn-success btn-sm">Добави файл.</a>
      </div>
      <div ng-show="collection.files.length" class="panel panel-success">
        <div class="panel-heading" style="color: white;">Файлове</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="file in collection.files">
            <h5 class="text-center">{{file.title}}</h5>
            <a ui-sref="app.file({id : file._id})" class="btn btn-sm btn-success">Отвори</a>
            <a ng-click="remove('file', file._id)" class="btn btn-sm btn-danger pull-right">Премахни</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Pages -->
      <div ng-hide="collection.pages.length" class="alert alert-info">
        Нямате добавени статии. <br>
        <a ng-click="addPageModal()" class="btn btn-warning btn-sm">Добави статия.</a>
      </div>
      <div ng-show="collection.pages.length" class="panel panel-warning">
        <div class="panel-heading" style="color: white;">Статии</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="page in collection.pages">
            <h5 class="text-center">{{page.title}}</h5>
            <a ui-sref="app.page({id : page._id})" class="btn btn-sm btn-warning">Отвори</a>
            <a ng-click="remove('page', page._id)" class="btn btn-sm btn-danger pull-right">Премахни</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Добави файл</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="add('file', file._id)">
          <div class="form-group">
            <label>Файл</label>
            <input type="text" ng-model="file" typeahead="file as file.title for file in files | filter:$viewValue" class="form-control">
            <p class="help-block">Напишете името на файла, който искате да добавите.</p>
          </div>
          <button type="submit" class="btn btn-success">Създай</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addPageModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Добави статия</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="add('page', page._id)">
          <div class="form-group">
            <label>Статия</label>
            <input type="text" ng-model="page" typeahead="page as page.title for page in pages | filter:$viewValue" class="form-control">
            <p class="help-block">Напишете името на статията, която искате да добавите.</p>
          </div>
          <button type="submit" class="btn btn-success">Създай</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Добави книга</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="add('book', book._id)">
          <div class="form-group">
            <label>Книга</label>
            <input type="text" ng-model="book" typeahead="book as book.title for book in books | filter:$viewValue" class="form-control">
            <p class="help-block">Напишете името на книгата, която искате да добавите.</p>
          </div>
          <button type="submit" class="btn btn-success">Създай</button>
        </form>
      </div>
    </div>
  </div>
</div>